<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Grupo de TestRunners">
        <classes>
            <class name="com.juice.test.TestRegister"/>
            <class name="com.juice.test.TestLogin"/>
            <class name="com.juice.test.TestCheckout"/>
        </classes>
    </test>
</suite>